#includebitsstdc++.h
using namespace std;
int main()
{
    iossync_with_stdio(false);

   string card_number;
   cincard_number;


   int sum=0;
   for(int i=0;icard_number.size();i+=2)
   {
       if((card_number[i]-'0')29)
       {
           sum+=((card_number[i]-'0')2)-9;
       }
       else
       {
           sum+=(card_number[i]-'0')2;
       }
   }

    for(int i=1;icard_number.size();i+=2)
    {
       sum+=card_number[i]-'0';
    }

    if(sum%10==0)
    {
        coutValid Card Number;
    }
    else
    {
        coutNot a Valid Card Number;
    }


}
